{% load static %}

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'ppdb/img/logo.png' %}" />

<!-- Library / Plugin Css Build -->
<link rel="stylesheet" href="{% static 'HopeUI/assets/css/core/libs.min.css' %}" />

<!-- Aos Animation Css -->
<link rel="stylesheet" href="{% static 'HopeUI/assets/vendor/aos/dist/aos.css' %}" />

<!-- Hope Ui Design System Css -->
<link rel="stylesheet" href="{% static 'HopeUI/assets/css/hope-ui.min.css' %}" />

<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'HopeUI/assets/css/custom.min.css' %}" />

<!-- Dark Css -->
<link rel="stylesheet" href="{% static 'HopeUI/assets/css/dark.min.css' %}" />

<!-- Customizer Css -->
<link rel="stylesheet" href="{% static 'HopeUI/assets/css/customizer.min.css' %}" />

<!-- RTL Css -->
<link rel="stylesheet" href="{% static 'HopeUI/assets/css/rtl.min.css' %}" />