{% extends 'modals/baseModal.html' %}

{% block modal_id %}
  id="logoutModal"
{% endblock %}

{% block modal_title %}
  <i class="fas fa-power-off"></i>&nbsp;&nbsp;Keluar
{% endblock %}

{% block modal_body %}
  <div class="text-center">
    <span class="text-danger txt-sm2"><i class="fas fa-power-off fa-3x"></i></span>
  </div>
  <div class="text-danger text-center mb-3 mt-4">Lanjut untuk keluar aplikasi?</div>
{% endblock %}

{% block modal_footer %}
  <a href="{% url 'users:logout' %}" type="button" class="btn btn-primary btn-sm">Ya</a>
{% endblock %}
