<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="tambah-penggunaModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="tambah-penggunaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="tambah-penggunaModalLabel">
                {% block modal-title %} <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Tambah Pengguna {% endblock modal-title %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% block modal-body %}
            <form method="POST" {% block action %} action="{% url 'users:tambah-pengguna' %}" {% endblock action %}>
                {% csrf_token %}
                <div class="from-group">
                    <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    <input type="text" class="form-control form-control-sm" id="id_username" name="username" required>
                    </div>
                </div>
                <div class="from-group">
                    <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-sm" id="id_email" name="email" placeholder="example@gmail.com" required>
                    </div>
                </div>
                <div class="from-group">
                    <input type="checkbox" name="is_active" class="checkboxinput form-check-input" id="id_active"> 
                    <label for="id_active" class="form-check-label">Peserta</label>
                </div>
                <div class="from-group">
                    <input type="checkbox" name="is_superuser" class="checkboxinput form-check-input" id="id_superuser"> 
                    <label for="id_superuser" class="form-check-label">Admin</label>
                </div>
                <div class="from-group">
                    <div class="mb-3 mt-3">
                    <label for="id_password1" class="form-label">Password</label>
                    <input type="text" class="form-control form-control-sm" id="id_password1" name="password1" required>
                    </div>
                </div>
                <div class="from-group">
                    <div class="mb-3">
                    <label for="id_password2" class="form-label">Konfirmasi Password</label>
                    <input type="password" class="form-control form-control-sm" id="id_password2" name="password2" required>
                    </div>
                </div>
                <div class="mt-4 float-end">
                    <button type="button" class="btn btn-secondary btn-sm mb-3" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-primary btn-sm mb-3">
                    <i class="fa-solid fa-square-plus"></i>&nbsp;&nbsp; Tambah Data
                    </button>
                </div>
            </form>
            {% endblock modal-body %}
        </div>
    </div>
</div>