<p style="text-align: center;">SMP Miftahul Falah Gandrungmangu<br />PPDB Online Tahun Ajaran 2024/2025</p>
<hr />
<p style="text-align: justify;">No Pendaftaran : {{siswa.no_pendaftaran}}<br />Tanggal Daftar&nbsp; : {{siswa.tgl_daftar}}<br />Status&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : {{siswa.status}}</p>
<hr />
<p style="text-align: justify;"><span style="color: #000000;"><strong>DATA DIRI</strong></span></p>
<table style="height: 288px; width: 100%; border-collapse: collapse; border-style: none;" border="0">
<tbody>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">1.</td>
<td style="width: 35.9581%; height: 18px;">Nama Lengkap</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.nama}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">2.</td>
<td style="width: 35.9581%; height: 18px;">Jenis Kelamin</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.jenis_kelamin}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">3.</td>
<td style="width: 35.9581%; height: 18px;">NiSN</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.nisn}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">4.</td>
<td style="width: 35.9581%; height: 18px;">Tempat Lahir</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.tempat_lahir}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">5.</td>
<td style="width: 35.9581%; height: 18px;">Tanggal Lahir</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.tgl_lahir}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">6.</td>
<td style="width: 35.9581%; height: 18px;">Agama</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.agama}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">7.</td>
<td style="width: 35.9581%; height: 18px;">Bekebutuhan Khusus</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.keb_disabilitas}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">8.</td>
<td style="width: 35.9581%; height: 18px;">Alamat</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.alamat}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">9.</td>
<td style="width: 35.9581%; height: 18px;">Kode POS</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.kode_pos}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">10.</td>
<td style="width: 35.9581%; height: 18px;">Mode Transportasi</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.transportasi}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">11.</td>
<td style="width: 35.9581%; height: 18px;">Anak Keberapa</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.anak_ke}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">12.</td>
<td style="width: 35.9581%; height: 18px;">Jumlah Saudara</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.saudara}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">13.</td>
<td style="width: 35.9581%; height: 18px;">Asal Sekolah</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.asal_sekolah}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">14.</td>
<td style="width: 35.9581%; height: 18px;">Biaya Sekolah</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.biaya_sekolah}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">15.</td>
<td style="width: 35.9581%; height: 18px;">No Telepon/WA</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.no_hp}}</td>
</tr>
<tr style="height: 2px;">
<td style="width: 5.44623%; height: 18px;">16.</td>
<td style="width: 35.9581%; height: 18px;">Email</td>
<td style="width: 3.60883%; height: 18px;">:</td>
<td style="width: 54.9869%; height: 18px;">{{siswa.email}}</td>
</tr>
</tbody>
</table>
<p><strong>DATA AYAH</strong></p>