{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_title %}
  {{ page_title }}
{% endblock %}

{% block content %}
  {% include 'alert/messages.html' %}
  <div>
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div class="card" data-aos="fade-up" data-aos-delay="600">
          <div class="card-header d-flex justify-content-between">
            <div class="header-title">
              <h4 class="card-title">Detail Data Pendaftar</h4>
            </div>
          </div>
          <div class="card-body">
            <form action="" method="" id="form-wizard1" class="mt-3 text-center" enctype="multipart/form-data">
              <ul id="top-tab-list" class="p-0 row list-inline">
                <li class="mb-2 col-lg-3 col-md-6 text-start active" id="datadiri">
                  <a href="javascript:void(0);">
                    <div class="iq-icon me-3">
                      <svg class="svg-icon icon-20" xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                      </svg>
                    </div>
                    <span class="dark-wizard">Data Diri</span>
                  </a>
                </li>
                <li id="ortu" class="mb-2 col-lg-3 col-md-6 text-start">
                  <a href="javascript:void(0);">
                    <div class="iq-icon me-3">
                      <svg class="svg-icon icon-20" xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                      </svg>
                    </div>
                    <span class="dark-wizard">Orang Tua</span>
                  </a>
                </li>
                <li id="wali" class="mb-2 col-lg-3 col-md-6 text-start">
                  <a href="javascript:void(0);">
                    <div class="iq-icon me-3">
                      <svg class="svg-icon icon-20" xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                      </svg>
                    </div>
                    <span class="dark-wizard">Wali</span>
                  </a>
                </li>
                <li id="berkas" class="mb-2 col-lg-3 col-md-6 text-start">
                  <a href="javascript:void(0);">
                    <div class="iq-icon me-3">
                      <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.419 15.732C21.419 19.31 19.31 21.419 15.732 21.419H7.95C4.363 21.419 2.25 19.31 2.25 15.732V7.932C2.25 4.359 3.564 2.25 7.143 2.25H9.143C9.861 2.251 10.537 2.588 10.967 3.163L11.88 4.377C12.312 4.951 12.988 5.289 13.706 5.29H16.536C20.123 5.29 21.447 7.116 21.447 10.767L21.419 15.732Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M7.48145 14.4629H16.2164" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <span class="dark-wizard">Berkas</span>
                  </a>
                </li>
              </ul>
              <!-- fieldsets -->
              <fieldset>
                <div class="form-card text-start">
                  <div class="row">
                    <div class="col-7">
                      <h3 class="mb-4">Data Diri:</h3>
                    </div>
                    <div class="col-5">
                      <h4 class="steps">Step 1 - 4</h4>
                    </div>
                  </div>
                  {{siswa|crispy}}
                <button type="button" name="next" class="btn btn-primary next action-button float-end" value="Next">Next</button>
              </fieldset>
              <fieldset>
                <div class="form-card text-start">
                  <div class="row">
                    <div class="col-7">
                      <h3 class="mb-4">Data Orang Tua:</h3>
                    </div>
                    <div class="col-5">
                      <h4 class="steps">Step 2 - 4</h4>
                    </div>
                  </div>
                  {{ortu|crispy}}
                </div>
                <button type="button" name="next" class="btn btn-primary next action-button float-end" value="Next">Next</button>
                <button type="button" name="previous" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous">Previous</button>
              </fieldset>
              <fieldset>
                <div class="form-card text-start">
                  <div class="row">
                    <div class="col-7">
                      <h3 class="mb-4">Data Wali:</h3>
                    </div>
                    <div class="col-5">
                      <h4 class="steps">Step 3 - 4</h4>
                    </div>
                  </div>
                  {{wali|crispy}}
                </div>
                <button type="button" name="next" class="btn btn-primary next action-button float-end" value="Next">Next</button>
                <button type="button" name="previous" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous">Previous</button>
              </fieldset>
              <fieldset>
                <div class="form-card text-start">
                  <div class="row">
                    <div class="col-7">
                      <h3 class="mb-4">Data Berkas:</h3>
                    </div>
                    <div class="col-5">
                      <h4 class="steps">Step 4 - 4</h4>
                    </div>
                  </div>
                  {{berkas.file_kk|as_crispy_field}}
                  <div class="mb-3">
                    <a href="{% url 'ppdb:lihat-file' berkas.file_kk.path %}" target="_blank" type="button" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>&nbsp;&nbsp;Lihat File</a>
                    <a href="{% url 'ppdb:unduh' berkas.file_kk.path %}" class="btn btn-secondary btn-sm"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Unduh File</a>
                  </div>
                  {{berkas.file_akta|as_crispy_field}}
                  <div class="mb-3">
                    <a href="" target="_blank" type="button" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>&nbsp;&nbsp;Lihat File</a>
                    <a href="" target="_blank" type="button" class="btn btn-secondary btn-sm"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Unduh File</a>
                  </div>
                  {{berkas.file_raport|as_crispy_field}}
                  <div class="mb-3">
                    <a href="" target="_blank" type="button" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>&nbsp;&nbsp;Lihat File</a>
                    <a href="" target="_blank" type="button" class="btn btn-secondary btn-sm"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Unduh File</a>
                  </div>
                  {{berkas.file_skl|as_crispy_field}}
                  <div class="mb-3">
                    <a href="" target="_blank" type="button" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>&nbsp;&nbsp;Lihat File</a>
                    <a href="" target="_blank" type="button" class="btn btn-secondary btn-sm"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Unduh File</a>
                  </div>
                  {{berkas.file_ijazah|as_crispy_field}}
                  <div class="mb-3">
                    <a href="" target="_blank" type="button" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>&nbsp;&nbsp;Lihat File</a>
                    <a href="" target="_blank" type="button" class="btn btn-secondary btn-sm"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Unduh File</a>
                  </div>
                  {{berkas.file_skhun|as_crispy_field}}
                  <div class="mb-3">
                    <a href="" target="_blank" type="button" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>&nbsp;&nbsp;Lihat File</a>
                    <a href="" target="_blank" type="button" class="btn btn-secondary btn-sm"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Unduh File</a>
                  </div>
                </div>
                <button type="button" name="previous" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous">Previous</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
