<!-- Modal -->
<div class="modal fade" id="hapusModal{{p.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Hapus Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center text-danger txt-sm"><i class="far fa-times-circle fa-5x mb-4 mt-2"></i></div>
        <div class="text-center text-danger txt-sm">
            <span>Data akan dihapus, apakah anda yakin?</span>
            <div class="text-dark mt-3 mb-2">Peserta: 
                <strong>{{p.nama}}</strong>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
        <a href="{% url 'ppdb:hapusdata' p.id %}" type="button" class="btn btn-primary">Ya</a>
      </div>
    </div>
  </div>
</div>