{% extends 'ppdb/modals/tambahPeriode.html' %}

<!--modal id-->
{% block modal-id %} id="editModal{{p.id_thn_ajaran}}" {% endblock modal-id %}

<!--modal title-->
{% block modal-title %} <i class="fas fa-edit"></i>&nbsp;&nbsp; Edit Periode {% endblock modal-title %}

<!--form action-->
{% block action %} action="{% url 'ppdb:edit-periode' p.id_thn_ajaran %}" {% endblock action %}

<!--button action-->
{% block btn-action %} <i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;Simpan {% endblock btn-action %}

<!--input data-->
<!--tahun ajaran-->
{% block Value-thn-ajaran %} value="{{p.tahun_ajaran}}" {% endblock Value-thn-ajaran %}
<!--tanggal mulai-->
{% block Value-tgl-mulai %} value="{{p.tanggal_mulai}}" {% endblock Value-tgl-mulai %}
<!--tanggal selesai-->
{% block Value-tgl-selesai %} value="{{p.tanggal_selesai}}" {% endblock Value-tgl-selesai %}
<!--status-->
{% block status %}
<option>{{p.status}}</option>
{% endblock status %}