{% extends 'ppdb/modals/baseModal.html' %}

{% block modal-id %} id="hapusModal{{p.id}}" {% endblock modal-id %}

{% block modal-title %}
<i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Hapus Data
{% endblock modal-title %}

{% block modal-body %}
<div class="text-center text-danger txt-sm"><i class="far fa-trash-alt fa-5x mb-4 mt-2"></i></div>
<div class="text-center text-danger txt-sm">
    <span>Data akan dihapus, apakah anda yakin?</span>
    <div class="text-dark mt-3 mb-2">Peserta: 
        <strong>{{p.nama}}</strong>
    </div>
</div>
{% endblock modal-body %}

{% block modal-footer %}
<a href="{% url 'ppdb:hapus-data' p.id %}" type="button" class="btn btn-primary">Ya</a>
{% endblock modal-footer %}