{% extends 'ppdb/modals/terima.html' %}

{% block modal-id %}id=tolakModal{{p.id_siswa}}{% endblock modal-id %}

{% block modal-title %}
    <i class="fa-solid fa-user-xmark"></i>&nbsp;&nbsp;Verif Data
{% endblock modal-title %}

{% block body-content %}
<div class="text-center text-danger txt-sm"><i class="fa-solid fa-user-xmark fa-5x mb-4 mt-2"></i></div>
<div class="text-center text-danger txt-sm"><span>Tolak pengajuan pendaftaran?</span></div>
<div style="display: none;">
<input type="text" name="verifikasi" value="Ditolak">
</div>
{% endblock body-content %}

{% block btn-action %}
<button type="submit" class="btn btn-primary btn-sm">
<i class="fa-solid fa-user-xmark"></i>&nbsp;&nbsp;Ya
</button>
{% endblock btn-action %}
