<!-- footer -->
<div class="home-footer">
    <div class="container">
    <div class="row pt-1 pb-1">
        <div class="col-md-6 col-xs-12 text-md-left text-center">
        Copyright &copy;&nbsp;{% now 'Y' %}&nbsp;SMP Miftahul Falah Gandrungmangu All right reserved
        </div>
        <div class="col-md-6 col-xs-12 text-md-right text-center">Powered by <a style="color: white;" target="_blank" href="https://github.com/Bang28">Bang28</a></div>
    </div>
    </div>
</div>
<!-- end footer -->