{% load static %}

<link rel="shortcut icon" href="{% static 'ppdb/img/logo.png' %}" type="image/x-icon" />
<link rel="stylesheet" href="{% static 'ppdb/css/front.min.css' %}" />
<link rel="stylesheet" href="{% static 'ppdb/css/1.css' %}" />
<link rel="stylesheet" href="{% static 'ppdb/css/2.css' %}" />
<link rel="stylesheet" href="{% static 'ppdb/css/3.css' %}" />
<link rel="stylesheet" href="{% static 'ppdb/css/components2.css' %}" />
<link rel="stylesheet" href="{% static 'ppdb/font-awesome-4/css/font-awesome.min.css' %}" />