{% extends 'ppdb/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'ppdb/messages.html' %}
        <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">{% block table-title %}{% endblock table-title %}</h4>
            </div>
            {% block search %}{% endblock search %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% block table-content %}
                {% endblock table-content %}
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}