{% extends 'tables/baseTable.html' %}

{% block page_title %}Semua Pendaftar | SMP Miftahul Falah Gandrungmangu{% endblock page_title %}

{% block table-title %}Semua Pendaftar{% endblock table-title %}

{% block search %}
<div class="d-flex" style="margin-right: 25px;">
    <div class="input-group">
        <input type="search" class="form-control" id="search" placeholder="Search..." aria-label="search">
    </div>
</div>
{% endblock search %}

{% block table-content %}
<table id="mytable" class="table table-striped-columns table-sm">
    <thead>
    <tr>
        <th>No</th>
        <th>No Pendaftaran</th>
        <th>NISN</th>
        <th>JK</th>
        <th>Keterangan</th>
        <th>Status Pendaftaran</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for p in peserta %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{p.no_pendaftaran}}</td>
            <td>{{p.nisn}}</td>
            <td>{{p.jenis_kelamin}}</td>
            <td>{{p.status}}</td>
            {% if p.verifikasi == "Pending" %}
                <td class="text-warning text-center">{{p.verifikasi}}</td>
            {% elif p.verifikasi == "Diterima" %}
                <td class="text-success text-center">{{p.verifikasi}}</td>
            {% else %}
                <td class="text-danger text-center">{{p.verifikasi}}</td>
            {% endif %}
            <td>
                <a href="{% url 'ppdb:view-data' p.id_siswa %}" class="btn btn-info btn-sm btn-icon" title="Detail data"><i class="fa-solid fa-eye"></i></a>
                <button class="btn btn-warning btn-sm btn-icon" title="Ubah data"><i class="fa solid fa-pen-to-square"></i></button>
                <button data-bs-toggle="modal" data-bs-target="#hapusModal{{p.id_siswa}}" class="btn btn-danger btn-sm btn-icon" title="Hapus data"><i class="fa-solid fa-trash-can"></i></button>
            </td>
        </tr>
        {% include 'modals/hapus.html' %}
        {% endfor %}
    </tbody>
</table>
{% endblock table-content %}