{% extends 'tables/baseTable.html' %}

{% block page_title %}
  Semua Pendaftar | SMP Miftahul Falah Gandrungmangu
{% endblock %}

{% block table_title %}
  Semua Pendaftar
{% endblock %}

{% block search %}
  <div class="d-flex" style="margin-right: 25px;">
    <div class="input-group">
      <input type="search" class="form-control" id="search" placeholder="Search..." aria-label="search" />
    </div>
  </div>
{% endblock %}

{% block table_content %}
  <table id="mytable" class="table table-striped-columns table-sm">
    <thead>
      <tr>
        <th>No</th>
        <th>No Pendaftaran</th>
        <th>NISN</th>
        <th>JK</th>
        <th>Keterangan</th>
        <th>Asal Sekolah</th>
        <th>Status Kelengkapan Dokumen</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for p in peserta %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ p.no_pendaftaran }}</td>
          <td>{{ p.nisn }}</td>
          <td>{{ p.jenis_kelamin }}</td>
          <td>{{ p.status }}</td>
          <td>{{ p.asal_sekolah }}</td>
          {% if p.verifikasi == 'Pending' %}
            <td class="text-center">
              <a data-bs-toggle="modal" data-bs-target="#terimaModal{{ p.id_peserta }}" class="btn btn-warning btn-sm">Verifikasi</a>
            </td>
          {% elif p.verifikasi == 'Diterima' %}
            <td class="text-center">
              <a data-bs-toggle="modal" data-bs-target="#pendingModal{{ p.id_peserta }}" class="btn btn-success btn-sm"><i class="fa-solid fa-file-circle-check"></i>&nbsp;&nbsp;Lengkap</a>
            </td>
          {% else %}
            <td class="text-center">
              <a data-bs-toggle="modal" data-bs-target="#pendingModal{{ p.id_peserta }}" class="btn btn-danger btn-sm">Ditolak</a>
            </td>
          {% endif %}
          <td>
            <a href="{% url 'ppdb:view-data' p.id_peserta %}" class="btn btn-info btn-sm btn-icon" title="Detail data"><i class="fa-solid fa-eye"></i></a>
            <button data-bs-toggle="modal" data-bs-target="#hapusModal{{ p.id_peserta }}" class="btn btn-danger btn-sm btn-icon" title="Hapus data"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
        <!-- include modals -->
        {% include 'modals/hapus.html' %}
        {% include 'ppdb/admin/modals/terima.html' %}
        {% include 'ppdb/admin/modals/pending.html' %}
      {% endfor %}
    </tbody>
  </table>

  <style>
    /*------------------- 
    # DATATABLES
    ---------------------*/
    /* pagination */
    .dataTables_paginate{
        margin-top: -20px !important;
    }
    /* input search */
    .dataTables_filter{
        display: none;
    }
    /* show entries */
    .dataTables_length{
        float: right !important;
        margin-bottom: 10px !important;
    }
    /* group buttons */
    .dt-buttons{
        margin-bottom: 10px !important;
    }
  </style>
{% endblock %}
