{% load static %}

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'ppdb/img/logo.png' %}" />

<!-- Library / Plugin Css Build -->
<link rel="stylesheet" href="{% static 'assets/css/core/libs.min.css' %}" />

<!-- Aos Animation Css -->
<link rel="stylesheet" href="{% static 'assets/vendor/aos/dist/aos.css' %}" />

<!-- Hope Ui Design System Css -->
<link rel="stylesheet" href="{% static 'assets/css/hope-ui.min.css' %}" />

<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'assets/css/custom.min.css' %}" />

<!-- Dark Css -->
<link rel="stylesheet" href="{% static 'assets/css/dark.min.css' %}" />

<!-- Customizer Css -->
<link rel="stylesheet" href="{% static 'assets/css/customizer.min.css' %}" />

<!-- RTL Css -->
<link rel="stylesheet" href="{% static 'assets/css/rtl.min.css' %}" />

<!--fontawesomefree-->
<link href="{% static 'assets/fontawesome-6/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/fontawesome-6/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/fontawesome-6/css/solid.css' %}" rel="stylesheet" type="text/css">

<!--datatables-->
<link href="{% static 'assets/datatables/datatables.min.css' %}" rel="stylesheet">