{% extends 'modals/baseModal.html' %}

{% block modal_title %}
  Email Form
{% endblock %}

{% block modal_id %}
  id="emailModal{{ p.id_peserta }}"
{% endblock %}

{% block modal_width %}
  modal-xl
{% endblock %}

{% block modal_body %}
  <form action="{% url 'ppdb:email' %}" method="POST" class="was-validated" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-body">
      <div class="">
        <strong>Peserta: <span class="text-success">{{ p.nama }}</span></strong>
      </div>
      <hr />
      <div class="form-group input-group-sm mb-3" style="display: none;">
        <input type="email" class="form-control form-control-sm" name="email" value="{{ p.email }}" />
      </div>
      <!-- cc -->
      <div class="form-group mb-2">
        <input type="email" class="form-control form-control-sm" name="cc" placeholder="email (opsional)" />
      </div>
      <div class="mb-3">
        <textarea class="form-control form-control-sm text-sm" name="message" style="height: 400px;" placeholder="Tulis pesan anda disini..." required></textarea>
        <div class="invalid-feedback">Required</div>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control form-control-sm" name="subject" placeholder="Subjek" required />
        <div class="invalid-feedback">Required</div>
      </div>
      <div class="form-group mb-3">
        <input type="file" class="form-control form-control-sm" name="attach" title="Optional attachment" multiple />
      </div>
      <div class="mb-3" style="float: right;">
        <input type="submit" name="submit" class="btn btn-outline-success btn-sm btn-modal send-email" value="Kirim" style="margin-right: -5px;" />&nbsp;&nbsp;
        <button class="btn btn-secondary btn-sm btn-modal" data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block btn_close %}
{% endblock %}
